<div class="scrollable">
  <div class="scrollable-content section">

  <div class="jumbotron">
    <div class="container">
      <h1>About Us</h1>
      <p>SimpleApp is great at listing payments, logging people in, and being responsive!</p>
      <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
    </div>
  </div>

    <div class="row">

      <div class="col-xs-12 col-md-3">
        <div class="thumbnail">
          <img src="http://placekitten.com/200/150" alt="">
          <div class="caption">
              <h3>Kitten 1</h3>
              <p>
                Kitten 1 is the CEO and founder of SimpleApp, which does a lot of cool stuff. You can do a lot of fun things with the app, including clicking buttons and looking at kittens on this page. He's the boss of all that.
              </p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-3">
        <div class="thumbnail">
          <img src="http://placekitten.com/190/150" alt="">
          <div class="caption">
              <h3>Kitten 2</h3>
              <p>
                Kitten 2 is the COO of SimpleApp, which does a lot of cool stuff. She makes sure that everything is operating okay, like making sure everything isn't going horribly wrong.
              </p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-3">
        <div class="thumbnail">
          <img src="http://placekitten.com/220/150" alt="">
          <div class="caption">
              <h3>Kitten 3</h3>
              <p>
                Kitten 3 is the CTO of SimpleApp, which does a lot of cool stuff. This means he's the head of engineering which builds all the features like kittens and buttons that appear all over the place.
              </p>
          </div>
        </div>
      </div> 

      <div class="col-xs-12 col-md-3">
        <div class="thumbnail">
          <img src="http://placekitten.com/210/150" alt="">
          <div class="caption">
              <h3>Kitten 4</h3>
              <p>
                Kitten 4 is the CFO of SimpleApp, which does a lot of cool stuff. He makes sure that nothing horrible is happening with all the money SimpleApp makes and processes.
              </p>
          </div>
        </div>
      </div> 


    </div>


  </div>
</div>