    <div class="scrollable">
      <div class="scrollable-content">
        <div class='section'>
          <ui-state id='activeTab' default='1'></ui-state>

          <div class="btn-group justified nav-tabs">
            <a ui-set="{'activeTab': 1}" ui-class="{'active': activeTab == 1}" class="btn btn-default">List Payments</a>

<!--             <a ui-set="{'activeTab': 2}" ui-class="{'active': activeTab == 2}" class="btn btn-default">Make Payment</a>
 -->
          </div>

          <div class="section" >
            <div class="panel-group">

              <div class="panel panel-default" ng-repeat="payment in payments">
                <div class="panel-heading">
              
                  <h4 class="panel-title">
                      Recipient: {{payment.name}} | Amount: ${{payment.amount}} | Date: {{payment.date}}
                  </h4>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>